html,body{
	padding: 0;
	margin: 0;
}
body{
	background-color: #F0EFE8;
}
header{
	width: 100%;
	float: left;
}
/*******************/
/*Start Header Top*/
/*****************/
header #top{
	width: 100%;
	float: left;
	background-color: #434135;
}
header #top #wrap{
	width: 990px;
	margin: 0 auto;
	font-family: "Courier",serif;
	font-size: 12px;
}
header #top #wrap nav{
	width: 30%;
	float: left;	
}
header #top #wrap article{
	width: 70%;
	float: left;
}
header #top #wrap nav ul{
	padding: 7px 0;
	margin: 0 0 0 -30px;
}
header #top #wrap nav ul li{
	display: inline;
	width: 25%;
	float: left;
	text-align: center;
}
header #top #wrap nav ul li a{
	text-decoration: none;
	color: #D9D9D9;
	cursor: hand;
	cursor: pointer;
}
header #top #wrap article p{
	color: #D9D9D9;
	text-align: right;
	margin: 0;
	padding: 7px 0;
	letter-spacing: 5px;
}
/**********************/
/*Start Header Middle*/
/********************/
header #middle{
	width: 100%;
	float: left;
	background-color: #fff;
}
header #middle #wrap{
	width: 990px;
	margin: 0 auto;
	padding: 15px 0;
}
header #middle #wrap div{
	width: 33.33%;
	float: left;
	min-height: 1px;
}
header #middle #wrap div + div span{
	background: url('http://akamai-ssl.burton.com/2015/images/global/global-header-footer-sprites.png');
	width: 145px;
	height: 25px;
	display: block;
	margin: 0 auto;
}
header #middle #wrap div + div + div input{
	display: block;
	margin: 0 auto;
}
/**********************/
/*Start Header Bottom*/
/********************/
header #bottom{
	width: 100%;
	float: left;
	background-color: #fff;
}
header #bottom #wrap {
	width: 990px;
	margin: 0 auto;
}
header #bottom #wrap nav{
	float: left;
	width: 100%;
	padding: 15px 0;
}
header #bottom #wrap nav ul{
	padding: 0;
	margin: 0;
	width: 100%;
}
header #bottom #wrap nav ul li{
	width: 9.09090909091%;
	text-align: center;
	float: left;
	display: inline;
}
header #bottom #wrap nav ul li a{
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	color: #434135;	
	font-weight: bold;
	font-family: "Courier",serif;
	font-size: 10px;
}
header #bottom #wrap nav ul li + li +li + li +li a{
	color: #706F69;
}
/*****************/
/*Start Main Top*/
/***************/
main #top{
	width: 100%;
	float:left;
}
main #top #wrap{
	width: 990px;
	margin: 0 auto;
}
main #top #wrap img{
	padding: 35px 0 0 0 ;
}
/********************/
/*Start Main Middle*/
/******************/
main #middle{
	width: 100%;
	float: left;
}
main #middle #wrap{
	width: 990px;
	margin: 0 auto;
}
main #middle #wrap article{
	width: 31.91%;
	text-align: center;
	float: left;
	border: solid;
	border-width: 2px;	
	margin: 15px 0 15px 0;
}
main #middle #wrap article + article{
	margin: 15px 15px 15 15px; 
}
main #middle #wrap article + article + article{
	margin: 15px 0 0 0; 
}
main #middle #wrap article p{
	text-align: center;
	color: #434135;
	margin: 5px 0;
	font-family: "Courier",serif;
	font-weight: 600;
	font-size: 15px;
}
/********************/
/*Start Main Bottom*/
/******************/
main #bottom{
	width: 100%;
	float: left;
}
main #bottom #wrap{
	width: 990px;
	margin: 0 auto;
}
main #bottom #wrap div{
	width: 48.89%;
	float: left;
	display: block;
	padding: 0 0 25px 0;
}
main #bottom #wrap div + div{
	margin: 0 0 0 22px;
}
main #bottom #wrap div img{
	border: solid;
	border-color: #EFBB3E;
	border-width: 5px;
}
/***************/
/*Start Banner*/
/*************/
#banner #banner-div{
	float: left;
	background-image: url('http://akamai-ssl.burton.com/2015/content/13things/post-036/design/13Things-Post36_Banner_Desktop_2.jpg');
	width: 100%;
	height: 420px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -150px;
}
#banner #banner-div div{
	width: 50%;
	float: left;
	margin: 0 auto;
	min-height: 1px;
} 
#banner #banner-div article{
	width: 50%;
	float: left;
}
#banner #banner-div article h1{
	font-size: 25px;
	width: 33%;
}
#banner #banner-div article p{
	width: 33%;
	text-align: left;
}
#banner #banner-div article div{
	display: block;
	width: 33%;
}
/*********************/
/*Start Social-Media*/
/*******************/
#twitter-photos{
	width: 100%;
	float: left;
	background-color: #fff;
}
#twitter-photos #wrap{
	width: 990px;
	margin: 0 auto;
	padding: 15px 0;
}
#twitter-photos #wrap article p{
	text-align: center;
	margin: 5 auto;
	padding: 0 0 10px 0;
}
#twitter-photos #wrap article p a{
	text-decoration: none;
	font-size:15px;
	font-family: sans-serif;
	color: #000;
}
#twitter-photos #wrap article p a span{
	background-image: url('http://akamai-ssl.burton.com/2015/images/global/svg/global-header-footer-sprite-ss15.svg');
	background-position: -93px -130px; 
	background-repeat: no-repeat;
	display:inline-block;
	height: 20px;
	width: 35px;	
}
#twitter-photos #wrap div{
	width: 16%; 
	display: inline;		
}
#twitter-photds #wrap div article{

}
#twitter-photos #wrap div article div{
	background: url('//akamai-ssl.burton.com/2015/images/global/insta_bg.gif');
	background-repeat: no-repeat;
	background-size: 1px 1px;
	height: 150px;
	width: 150px;
}
#twitter-photos #wrap div article div img{
	height: 144px;
	width: 144px;
	display: block;
	float: left;
	margin: 0 auto;
	padding: 5px;
}

/**************/
/*Start Email*/
/************/
#enter-email{
	width: 100%;
	float: left;
}
#enter-email #wrap{
	width: 990px;
	margin: 0 auto;
	padding: 0;
}
#enter-email #wrap div{
	width: 30%;
	float: left;
	text-align: right;
}
#enter-emaiil #wrap div img{
	display: block;
	text-align: right;
}
#enter-email #wrap article{
	width: 70%;
	float: left;	
}
#enter-email #wrap article div input{
	display: block;
	margin: 0 auto;
}
/*******************/
/*Start Footer Top*/
/*****************/
footer{
	width: 100%;
	float: left;
	background-color: #424035;
}
footer #top #wrap{
	width: 990px;
	margin: 0 auto;
}
footer #top #wrap span{	
	background-image: url('http://akamai-ssl.burton.com/2015/images/global/svg/global-header-footer-sprite-ss15.svg');
	background-repeat: no-repeat;
	height: 19px;
	width: 111px;
	background-position: 0 -70px;
	display: block;
	margin: 10px auto;
}
/**********************/
/*Start Footer Middle*/
/********************/
footer #middle #wrap{
	width: 990px;
	margin: 0 auto;
}
footer #middle #wrap article{
	width: 46%;
	float: left;
	margin: 0 auto;
	color: #EFEFEF;
}
footer #middle #wrap article + article{
	width: 25%;
	float; left;
	margin: 0 auto;
	padding-left: 10px;
}
footer #middle #wrap article + article h2{
	float: left;
	text-align: left;
	width: 100%;
}
footer #middle #wrap article h2{
	width: 50%;
	float: left;
	text-align: left;
	margin: 0 auto;
}
footer #middle #wrap nav ul{
	padding: 0;
	margin: 0;
}
footer #middle #wrap nav ul li{
	width: 30%;
	text-align: left;
	float: left;
	display: inline;
	border: solid 1px;
	border-color: #efefef;	
}
footer #middle #wrap nav ul li + li{
	margin: 0 5px 0 5px;
}
footer #middle #wrap nav ul li + li +li{
	margin:0;
}
footer #middle #wrap nav ul li a{
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	color: #EFEFEF;
}
footer #middle #wrap article + article div{
	width: 100%;
	float: left;
	text-align: left;
}
}
footer #middle #wrap article + article div input{
	display: block;
	margin: 0 auto;
	float: left;
}
/**********************/
/*Start Footer Bottom*/
/********************/
footer #bottom #wrap{
	width: 980px;
	margin: 0 auto;
}
footer #bottom #wrap article{
	width: 20%;
	float: left;
}
footer #bottom #wrap article + article{
	width: 50%;
	float: left;
}
footer #bottom #wrap article + article + article{
	width: 30%;
	float: left;
}
footer #bottom #wrap article p{
	display: inline;
}
footer #bottom #wrap article a{
	text-decoration: none;
}
footer #bottom #wrap article a .social-media{
	background-image: url('http://akamai-ssl.burton.com/2015/images/global/svg/global-header-footer-sprite-ss15.svg');
	background-repeat: no-repeat;
	width: 20px;
	height: 35px;
	display: inline-block;
}
footer #bottom #wrap article a #facebook{
	background-position: 0px -130px;
}
footer #bottom #wrap article a #twitter{
	background-position: -38px -130px;
	width: 23px; 
}
footer #bottom #wrap article a #instagram{ 
	background-position: -93px -130px;
}
footer #bottom #wrap article a #pintrest{
	background-position: -139px -130px;
}
footer #bottom #wrap article a #youtube{
	background-position: -174px -130px;
	width: 45px;
}
footer #bottom #wrap article + article + article a #chill{
	background-image: url('http://akamai-ssl.burton.com/2015/images/global/svg/global-header-footer-sprite-ss15.svg');
	background-position: -185px -161px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 35px;
	width: 39px;
}
footer #bottom #wrap article + article + article a #partner{
	background-image: url('http://akamai-ssl.burton.com/2015/images/global/svg/global-header-footer-sprite-ss15.svg');
	background-position: 0px -159px;
	background-repeat: no-repeat;
	width: 150px;
	height: 35px;
	display: inline-block;	
}