html,body{
	padding: 0;
	margin: 0;
}
body{
	background-color: #F0EFE8;
}
header{
	width: 100%;
	float: left;
}
/*******************/
/*Start Header Top*/
/*****************/
header #top{
	width: 100%;
	float: left;
	background-color: #434135;
}
header #top #wrap{
	width: 990px;
	margin: 0 auto;
}
header #top #wrap nav{
	width: 35%;
	float: left;	
}
header #top #wrap article{
	width: 65%;
	float: left;
}
header #top #wrap nav ul{
	padding: 0;
	margin: 0;
}
header #top #wrap nav ul li{
	display: inline;
	width: 25%;
	float: left;
	text-align: center;
}
header #top #wrap nav ul li a{
	text-decoration: none;
	color: #D9D9D9;
	cursor: hand;
	cursor: pointer;
	font-size: 10px;
}
header #top #wrap article p{
	color: #D9D9D9;
	text-align: right;
	margin: 0;
	font-size: 10px;
	padding: 7px 0 2px 0;
}
/**********************/
/*Start Header Middle*/
/********************/
header #middle{
	width: 100%;
	float: left;
	background-color: #fff;
}
header #middle #wrap{
	width: 990px;
	margin: 0 auto;
}
header #middle #wrap div{
	width: 33.33%;
	float: left;
	min-height: 1px;
}
header #middle #wrap div + div span{
	background: url('http://akamai-ssl.burton.com/2015/images/global/global-header-footer-sprites.png');
	width: 145px;
	height: 25px;
	display: block;
	margin: 0 auto;
}
header #middle #wrap div + div + div input{
	display: block;
	margin: 0 auto;
}
/**********************/
/*Start Header Bottom*/
/********************/
header #bottom{
	width: 100%;
	float: left;
	background-color: #fff;
}
header #bottom #wrap {
	width: 990px;
	margin: 0 auto;
}
header #bottom #wrap nav{
	float: left;
	width: 100%;
}
header #bottom #wrap nav ul{
	padding: 0;
	margin: 0;
}
header #bottom #wrap nav ul li{
	width: 9.09090909091%;
	text-align: center;
	float: left;
	display: inline;
}
header #bottom #wrap nav ul li a{
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	color: #434135;	
}
header #bottom #wrap nav ul li + li +li + li +li a{
	color: #706F69;
}
/*****************/
/*Start Main Top*/
/***************/
main #top{
	width: 100%;
	float:left;
}
main #top #wrap{
	width: 990px;
	margin: 0 auto;
}
/********************/
/*Start Main Middle*/
/******************/
main #middle{
	width: 100%;
	float: left;
}
main #middle #wrap{
	width: 990px;
	margin: 0 auto;
}
main #middle #wrap article{
	width: 31.91%;
	text-align: center;
	float: left;
	border: solid;
	border-width: 2px;	
	margin: 15px 0 15px 0;
}
main #middle #wrap article + article{
	margin: 15px 15px 15 15px; 
}
main #middle #wrap article + article + article{
	margin: 15px 0 0 0; 
}
main #middle #wrap article p{
	text-align: center;
	color: #434135;
}
/********************/
/*Start Main Bottom*/
/******************/
main #bottom{
	width: 100%;
	float: left;
}
main #bottom #wrap{
	width: 990px;
	margin: 0 auto;
	padding: 0;
}
main #bottom #wrap div{
	width: 48.89%;
	float: left;
	display: block;
}
main #bottom #wrap div + div{
	margin: 0 0 0 22px;
}
/*********/
/*Banner*/
/*******/
#banner #banner-div{
	float: left;
	background-image: url('http://akamai-ssl.burton.com/2015/content/13things/post-036/design/13Things-Post36_Banner_Desktop_2.jpg');
	width: 100%;
	height: 420px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0px;
}
#banner #banner-div div{
	width: 50%;
	float: left;
	margin: 0 auto;
	min-height: 1px;
} 
#banner #banner-div article{
	width: 50%;
	float: left;
	margin: 0 auto;
}